<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">


    <!-- DataTables Bootstrap Integration CSS -->
    <link rel="stylesheet" href="~/Content/DataTables/css/dataTables.bootstrap5.min.css" />

    <!-- DataTables Bootstrap Integration JS -->
    <script src="~/Scripts/DataTables/dataTables.bootstrap5.min.js"></script>
    <style>
        .endBox {
            display: flex;
            justify-content: center;
            align-items: end;
        }

        .btn {
            width: 7rem;
        }

        .innerHtmlDiv {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }

        .Headings1 {
            border-radius: 9px;
            display: flex;
            background: var(--bg--);
            color: var(--color--);
            font-size: 1.1rem;
            box-shadow: -2px 0px 9px 1px var(--color--);
        }

        .MainHeadin {
            text-align: center;
            padding: 0.4rem;
            font-style: italic;
            font-weight: 600;
            /*    text-shadow: 1px 1px 1px black;*/
        }

        span {
            font-family: serif;
            /* text-shadow: 1px 0px 1px black; */
            font-weight: 900;
            font-style: oblique;
        }

        .Tabel-Div {
            box-shadow: -2px 0px 9px 1px #129bdd;
            overflow: auto;
            padding: 2rem;
            border-radius: 12px;
            box-shadow: -2px 0px 9px 1px #008080;
        }

        .btn {
            font-style: oblique;
            font-weight: 600;
            font-family: -webkit-body;
            height: 2rem;
            width: 5rem;
        }

        @@media (max-width: 575.98px) {
            /* Your CSS for extra small devices */
            .endBox {
                margin-top: 1rem;
            }

            th {
                font-size: 8px;
            }

            td {
                font-size: 8px;
            }

            .innerHtmlDiv input {
                font-size: 0.8rem;
                width: 3rem;
            }

            .innerHtmlDiv {
                gap: 0.5rem;
            }
        }

        /* Small Devices (Phones, Landscape Mode) */
        @@media (min-width: 576px) and (max-width: 767.98px) {
            /* Your CSS for small devices */
        }

        /* Medium Devices (Tablets) */
        @@media (min-width: 768px) and (max-width: 991.98px) {
            /* Your CSS for medium devices */
        }
    </style>
    <style>

        .SlideData {
            position: absolute;
            left: 1%;
            transition: all 0.3s;
        }

        #MainDiv {
            right: -29%;
            top: 3.8rem;
            /* top: 47%; */
            position: absolute;
            width: 100vw;
        }

        .Center {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }

        :root {
            --bg--: #dbe0c4;
            --color--: #0b404c;
        }
        /* Basic styling for the progress indicator */
        #progress {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
            color: #3498db;
        }

        /* Extra Small Devices (Phones, Portrait Mode) */

        @@media (max-width: 575.98px) {
            /* Your CSS for extra small devices */
            .m-mainBox {
                height: 93vh;
            }

            .endBox {
                margin-top: 1rem;
            }

            th {
                font-size: 8px;
            }

            td {
                font-size: 8px;
            }

            .innerHtmlDiv input {
                font-size: 0.8rem;
                width: 3rem;
            }

            .innerHtmlDiv {
                gap: 0.5rem;
            }

            .tab-title {
                margin-top: 1rem;
            }
        }
        /* Small Devices (Phones, Landscape Mode) */
        @@media (min-width: 576px) and (max-width: 767.98px) {
            /* Your CSS for small devices */
        }

        /* Medium Devices (Tablets) */
        @@media (min-width: 768px) and (max-width: 991.98px) {
            /* Your CSS for medium devices */
        }

        /* Large Devices (Desktops) */
        @@media (min-width: 992px) and (max-width: 1199.98px) {
            /* Your CSS for large devices */
        }

        /* Extra Large Devices (Large Desktops) */
        @@media (min-width: 1200px) and (max-width: 1399.98px) {
            /* Your CSS for extra large devices */
        }

        /* XXL Devices (Very Large Screens) */
        @@media (min-width: 1400px) {
            /* Your CSS for XXL devices */
        }

        /* Portrait Orientation */
        @@media (orientation: portrait) {
            /* Your CSS for portrait mode */
        }

        /* Landscape Orientation */
        @@media (orientation: landscape) {
            /* Your CSS for landscape mode */
        }

        /* High-Resolution Displays (Retina) */
        @@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            /* Your CSS for high-resolution displays */
        }

        /* Dark Mode */
        @@media (prefers-color-scheme: dark) {
            /* Your CSS for dark mode */
        }
    </style>

</head>
<body style="background:#fff">
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center" style="background:var(--bg--)">

        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block" style="color:var(--color--)">NiceAdmin</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->

                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-bell"></i>
                        <span class="badge bg-primary badge-number">4</span>
                    </a><!-- End Notification Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                        <li class="dropdown-header">
                            You have 4 new notifications
                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-exclamation-circle text-warning"></i>
                            <div>
                                <h4>Lorem Ipsum</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>30 min. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-x-circle text-danger"></i>
                            <div>
                                <h4>Atque rerum nesciunt</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>1 hr. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-check-circle text-success"></i>
                            <div>
                                <h4>Sit rerum fuga</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>2 hrs. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-info-circle text-primary"></i>
                            <div>
                                <h4>Dicta reprehenderit</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-footer">
                            <a href="#">Show all notifications</a>
                        </li>

                    </ul><!-- End Notification Dropdown Items -->

                </li><!-- End Notification Nav -->

                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-chat-left-text"></i>
                        <span class="badge bg-success badge-number">3</span>
                    </a><!-- End Messages Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                        <li class="dropdown-header">
                            You have 3 new messages
                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>Maria Hudson</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>4 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>Anna Nelson</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>6 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>David Muldon</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>8 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="dropdown-footer">
                            <a href="#">Show all messages</a>
                        </li>

                    </ul><!-- End Messages Dropdown Items -->

                </li><!-- End Messages Nav -->

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>Kevin Anderson</h6>
                            <span>Web Designer</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-gear"></i>
                                <span>Account Settings</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                                <i class="bi bi-question-circle"></i>
                                <span>Need Help?</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <div style=" width: 100vw; height: 100vh; display: flex;">

        <aside id="sidebar" class="sidebar">

            <ul class="sidebar-nav" id="sidebar-nav">

                <li class="nav-item">
                    <a class="nav-link " href="index.html">
                        <i class="bi bi-grid"></i>
                        <span>Dashboard</span>
                    </a>
                </li><!-- End Dashboard Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-menu-button-wide"></i><span>Master Data</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a href="/Admin/Categories">
                                <i class="bi bi-circle"></i><span>Manage Categories</span>
                            </a>


                        </li>

                        <li>
                            <a href="/Admin/Subcategory" data-id="MasterCategories">
                                <i class="bi bi-circle"></i><span>Manage Subcategory</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/FurnitureType" data-id="MasterCategories">
                                <i class="bi bi-circle"></i><span>Manage Furniture Type</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/FurnitureMaterial">
                                <i class="bi bi-circle"></i><span>Manage Furniture Material</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/FurnitureShape">
                                <i class="bi bi-circle"></i><span>Manage Furniture Shape</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/FurnitureColor">
                                <i class="bi bi-circle"></i><span>Manage Furniture Color</span>
                            </a>
                        </li>

                    </ul>
                </li><!-- End Components Nav -->






            </ul>

        </aside><!-- End Sidebar-->


        <div class="container-fluid body-content" style=" margin-top: 4rem;" id="MainPanel">
            @RenderBody()
            <hr />

        </div>

    </div>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="~/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/assets/vendor/quill/quill.js"></script>
    <script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="~/Content/DataTables/css/jquery.dataTables.min.css" />

    <!-- jQuery -->
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>

    <!-- DataTables JS -->
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script>
        document.querySelector('.toggle-sidebar-btn').addEventListener('click', () => {

            document.getElementById('MainPanel').classList.toggle('SlideData')
        })
    </script>
    <!-- Template Main JS File -->

    <script src="~/assets/js/main.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
